@import '../style/variables.scss';

.chat-room-container{
    @include flexContainer;
    flex-direction: column;
    
    width: 70%;
}
.user-container{
    width: 100%;
    height: 3rem;
    @include flexContainer;

}