@import '../style/variables.scss';

.chat-room-container{
    @include flexContainer;
    flex-direction: column;
    width: 70%;
    background-color: $color;
}
.user-container{
    width: 100%;
    height: 3rem;
    @include flexContainer;

}
.messages-container{
    width: 100%;
    height: 70vh;
    overflow: auto;
}
.form-container{

}