@import '../style/variables.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.app-container{
    width: 50rem;
}
.chat-room-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: $color;
    position: relative;
}
.user-container{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-user;
    img{
        height: 40px;
        border-radius: 20px;
    }

}
.messages-container{
    width: 100%;
    height: 83vh;
    overflow: auto;
}
.form-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    form{
        width: 100%;
        input {
            width: 90%;
            height: 7vh;

        }
        button{
            width: 10%;
            height: 7vh;
        }
    }

}
.messages-item{
    display: flex;
    align-items: center;
    margin: 0.7rem;
    img{
        height: 40px;
        border-radius: 20px;
        margin: 0 0.5rem 0 0.5rem;
    }
    p{
        border-radius: 20px;
        height: 40px;
        background-color: #18dcff;
        padding: 0 1rem 0 1rem;
    }
}
.sent{
    flex-direction: row-reverse;
    
}