
$color-light-bg-msg: rgba(52, 152, 219,0.9);
$color-dark-bg-msg: #242526;
$color-light-bg-msg: #ffffff;
$color-dark-text: #ffffff;
$color-light-text: #000000;
$color-container-message: rgba(189, 195, 199,0.5);
$color-light-input-message: #ecf0f1e1;
$color-dark-input-message:rgba(255, 255, 255, 0.1);
$color-login: #192a56;
$color-google: #eb4132;
$color-github: #000000;
$color-facebook: #1877f2;
$color-backgroung-btn-login: #ffffff;

@mixin flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin animation{
    transition: background-color 1.5s;
}