
$color-light-bg-msg: rgba(52, 152, 219,0.6);
$color-dark-bg-msg: #242526;
$color-dark-text: #ffffff;
$color-container-message: rgba(189, 195, 199,0.5);
$color-light-input-message: #ecf0f1e1;
$color-dark-input-message:#393a3b;

@mixin flexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin animation{
    transition: all 1.5s;
}