$color:  #696969;
$color-bg-tiitle: #006266;
$color-user: #2b343b;
$color-light-bg-msg: #18dcff;
$color-dark-bg-msg: #242526;
$color-dark-text: #ffffff;

@mixin flexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}